USE [master]
GO
/****** Object:  Database [Stock3]    Script Date: 5.05.2022 00:52:09 ******/
CREATE DATABASE [Stock3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stock3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Stock3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Stock3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Stock3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stock3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stock3]
GO
/****** Object:  Table [dbo].[giris]    Script Date: 5.05.2022 00:52:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giris](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nchar](10) NULL,
	[Sifre] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Malzemeler]    Script Date: 5.05.2022 00:52:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Malzemeler](
	[MalzemeKodu] [nchar](10) NOT NULL,
	[MalzemeAdi] [nchar](20) NOT NULL,
	[YillikSatis] [nchar](10) NOT NULL,
	[BirimFiyat] [nchar](10) NOT NULL,
	[MinStok] [nchar](10) NOT NULL,
	[TSuresi] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
